# gitignore

*.bak
*.tmp

# Mac OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
*~
._*
.Spotlight-V100
.Trashes
__MACOSX
Thumbs.db
ehthumbs.db

# Linux OS
.swp.*
*.swp.*
*.swp

# Sublime Text
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-*.json

# Netbeans
nbproject

# eof
